.sidenav-container {
  height: 100%;
}

.left-sidenav {
  width: 5vw;
  min-width: 50px;
  max-width: 80px;
  height: 100%;
}

.sidenav {
  width: 25vw;
  height: 100%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
