video {
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 33vh;
}

.container {
    position: relative;
    box-shadow: 0 0 10px #ccc;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.controlbar {
    width: 100%;
    height: 32px;
    bottom: 0;
    position: absolute;
    z-index: 99;
}