<div class="container">
  <audio [srcObject]="stream" autoplay></audio>
  <div>
    <video [srcObject]="stream" autoplay playsinline muted #videoplayer></video>
    <div class="controlbar" *ngIf="toolbar">
      <ion-buttons>
        <ion-label>{{stream.peer.displayName}}</ion-label>
        <ion-button *ngIf="peer.isEnableMic(stream.peer)">
          <ion-icon name="mic"></ion-icon>
        </ion-button>
        <ion-button *ngIf="!peer.isEnableMic(stream.peer)">
          <ion-icon name="mic-off"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </div>
</div>