.drawtool-line-weight {
  background-color: black;
}
.drawtool-color {
  height: 10px;
}
.drawtool-button {
  height: 15px;
}

.drawtool-selected {
  background-color: gray;
}

button:hover {
  background-color: gray;
}

.toolbar {
  height: 40px;
}
