<ion-toolbar>
    <ion-buttons slot="start" class="ion-padding">
      <ion-icon size="small" name="volume-high"></ion-icon>
      <ion-label> XXX</ion-label>
    </ion-buttons>
    <ion-buttons slot="end">
      {{i18n.lang.mutedAll}}
      <ion-toggle></ion-toggle>
    </ion-buttons>
  </ion-toolbar>

  <ion-list lines="none">
    <ion-menu-toggle autoHide="false">
      <ng-container *ngFor="let p of peer.peersInfo">
        <ion-item *ngIf="peer.isEnableCamera(p) && p.camStream.toggleSide">
          <app-videoplayer [stream]="p.camStream" ></app-videoplayer>
        </ion-item>
      </ng-container>
      <ng-container *ngFor="let p of peer.peersInfo">
        <ion-item *ngIf="peer.isEnableCamera(p) && !p.camStream.toggleSide">
          <ion-label>{{p.displayName}}</ion-label>
          <ion-buttons>
            <ion-button>
              <ion-icon name="videocam"></ion-icon>
            </ion-button>
            <ion-button *ngIf="peer.isEnableMic(p)">
              <ion-icon name="mic"></ion-icon>
            </ion-button>
            <ion-button *ngIf="!peer.isEnableMic(p)">
              <ion-icon name="mic-off"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ng-container>
      <ng-container *ngFor="let p of peer.peersInfo">
        <ion-item *ngIf="peer.isEnableMic(p)&& !peer.isEnableCamera(p)">
          <audio [srcObject]="p.camStream" autoplay></audio>
          <ion-label>{{p.displayName}}</ion-label>
          <ion-buttons>
            <ion-button>
              <ion-icon src="assets/img/videocam-off.svg"></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon name="mic"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ng-container>
      <ng-container *ngFor="let p of peer.peersInfo">
        <ion-item *ngIf="!peer.isEnableMic(p) && !peer.isEnableCamera(p)">
          <ion-label>{{p.displayName}}</ion-label>
          <ion-buttons>
            <ion-button>
              <ion-icon src="assets/img/videocam-off.svg"></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon name="mic-off"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>

      </ng-container>
    </ion-menu-toggle>
  </ion-list>