.chat-content {
  height: 100%;
    .chat-message {
      margin: 12px 0;
      .message {
        padding: 8px;
        position: relative;
        box-shadow: 0 0 0 -1px rgba(0, 0, 0, 0.2),
          0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
      }
      .partner {
        margin-left: 5px;
        .message {
          background: #fff;
          margin-left: 12px;
          &:after {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0px 10px 10px 0;
            border-color: transparent #fff transparent transparent;
            top: 0;
            left: -10px;
          }
        }
      }
      .me {
        margin-right: 5px;
        .message {
          background: #b8f185;
          margin-right: 12px;
          &:after {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0px 0 10px 10px;
            border-color: transparent transparent transparent #b8f185;
            top: 0;
            right: -10px;
          }
        }
      }
    }
}

.chat-respond {
  width: 100%;
  bottom: 0px;
  left: 0;
  padding: 0 10px 0 10px;
  border-top: 1px solid #eee;
  textarea {
    resize: none;
  }
}

.emoji-button {
  margin: 0;
  padding: 0;
}

button:hover {
  background-color: gray;
}

.message-time-me {
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.message-time-partner{
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.5);
}
