<div class="container">
  <ion-item>
    <ion-button fill="clear">
      <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
    </ion-button>
    <ion-label>12 / 22</ion-label>
    <ion-button fill="clear">
      <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button fill="clear">
      <ion-icon slot="icon-only" name="remove"></ion-icon>
    </ion-button>
    <ion-label>90%</ion-label>
    <ion-button fill="clear">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-item>
</div>