<div class="container">
  <ion-item>
    <ion-button fill="clear" (click)="dc.selectedDoc.prevPage()" [disabled]="dc.selectedDoc?.disable">
      <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
    </ion-button>
    <ion-label>{{dc.selectedDoc?.pageNum}} / {{dc.selectedDoc?.numPages}}</ion-label>
    <ion-button fill="clear" (click)="dc.selectedDoc.nextPage()" [disabled]="dc.selectedDoc?.disable">
      <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button fill="clear" (click)="zoomIn()">
      <ion-icon slot="icon-only" name="remove"></ion-icon>
    </ion-button>
    <ion-label>{{dc.selectedDoc?.zoom|percent}}</ion-label>
    <ion-button fill="clear" (click)="zoomOut()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item *ngIf="dc.selectedDoc?.numPages > 1">
    <ion-button color="light">
      <ion-icon name="grid"></ion-icon>
    </ion-button>
  </ion-item>
</div>