ion-content {
    --offset-bottom: 500px;
    --offset-top: 500px;
}

.timeStyle {
    font-size: 12px;
    font-weight: 400;
    margin-right: 12px;
    text-align: center;
    color: rgba(0,0,0,.5);
}

.messagePartner {
    background: #E0E0E0;
    margin-right: 12px;
    padding: 8px;
    white-space:pre-wrap;
    margin: 5px;
    word-break: break-all;
}

.messageMe {
    white-space:pre-wrap;
    background: #b8f185;
    padding: 8px;
    margin: 5px;
    width: 100%;
    word-break: break-all;
}

.messageMeStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.chat-list{
    height: 100%;
    overflow-y: auto;
}
