.drawtool {
    width: 100%;
    height: 40px;
    background-color: aqua;
}

.canvas-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
}