<ion-list>
  <ion-item>
    {{i18n.lang.chinese}}
    <ion-toggle [(ngModel)]="chinese" (ionChange)="chineseToggle()"></ion-toggle>
  </ion-item>
  <ion-item>
    {{i18n.lang.darkTheme}}
    <ion-toggle [(ngModel)]="profile.themeDark"></ion-toggle>
  </ion-item>
  <ion-item *ngIf="profile.me.roler === 1">
    {{i18n.lang.mutedAll}}
    <ion-toggle [(ngModel)]="mutedAll" (ionChange)="mutedAllToggle()"></ion-toggle>
  </ion-item>
  <ion-item button (click)="setAsPrompt()" *ngIf="profile.me.roler !== 1">
    <ion-label>{{i18n.lang.setAsPresenter}}</ion-label>
  </ion-item>
</ion-list>