.video-wrapper {
  height: 150px;
  position: relative;
  top: 0;
  left: 0;
}

.videoCover {
  width: 240px;
  background-color: black;
  height: 150px;
  color: white;
}

.video-wrapper video {
  height: 100%;
  vertical-align: middle;
}

.video-description {
  background: transparent;
  position: absolute;
  background-color: rgb(0,0,0,.3);
  bottom: 0;
  width: 100%;
}

.volume {
  width: 5px;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: green;
}
