
<ion-list>
  <ion-item button (click)="shareDesktop()" *ngIf="profile.privilege.shareDesktop">
    <ion-icon name="desktop"></ion-icon>
    <ion-label class="ion-padding-start">
      {{i18n.lang.shareScreen}}
    </ion-label>
  </ion-item>
  <ion-item button (click)="shareMedia()" *ngIf="profile.privilege.shareMedia">
    <ion-icon name="film"></ion-icon>
    <ion-label class="ion-padding-start">
      {{i18n.lang.shareMedia}}
    </ion-label>
  </ion-item>
  <ion-item button (click)="openDocument()" *ngIf="profile.privilege.shareDocument">
    <ion-icon name="book"></ion-icon>
    <ion-label class="ion-padding-start">
      {{i18n.lang.document}}
    </ion-label>
  </ion-item>
  <ion-item button (click)="openVideo()">
    <ion-icon name="videocam"></ion-icon>
    <ion-label class="ion-padding-start">
      {{i18n.lang.mainVideo}}
    </ion-label>
  </ion-item>
</ion-list>