
<ion-list>
  <ion-item button (click)="shareDesktop()">
    <ion-icon name="desktop"></ion-icon>
    <ion-label class="ion-padding-start">
      共享桌面
    </ion-label>
  </ion-item>
  <ion-item button (click)="shareMedia()">
    <ion-icon name="film"></ion-icon>
    <ion-label class="ion-padding-start">
      共享媒体
    </ion-label>
  </ion-item>
  <ion-item button (click)="openDocument()">
    <ion-icon name="book"></ion-icon>
    <ion-label class="ion-padding-start">
      课件与白板
    </ion-label>
  </ion-item>
  <ion-item button (click)="openVideo()">
    <ion-icon name="videocam"></ion-icon>
    <ion-label class="ion-padding-start">
      主视频
    </ion-label>
  </ion-item>
</ion-list>