
.mat-icon {
  font-size: 50px;
}

.doc-item {
  padding: 10px;
}
.doc-item:hover{
  background-color: gray;
}
.doc-item-selected{
  background-color: gray;
}

.doc-item-time {
  font-size: 60%;
}

.doc-item-container{
  background-color: white;
  width: 40vw;
  height: 60vh;
}
