.setting-container {
  background-color: white;
  height: 60vh;
  width: 40vw;
}

.video-display {
  width: 250px;
  position: relative;
  top: 0;
  left: 0;
}

.video-display video {
  width: 100%;
}

.video-setting {
  width: 100%;
  border-bottom: 1px solid rgb(0,0,0,0.12);
  padding-bottom: 5px;
}

.audio-setting {
  width: 100%;
}
.audio-volume-meter {
  width: 6px;
  height: 12px;
  background-color: gray;
}
.meter-green{
  background-color:green;
}

.video-description {
  background: transparent;
  position: absolute;
  top: 10px;
  left: 20px;
  right: 0;
  bottom: 0;
}
