
<ion-content>
  <ion-grid *ngIf="peer.screenStreams?.length">
    <ion-row *ngFor="let stream of peer.screenStreams">
      <ion-col>
        <app-videoplayer [stream]="stream" [toolbar]="false"></app-videoplayer>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-container *ngIf="profile.privilege.shareDesktop">
    <ion-fab vertical="center" horizontal="center" slot="fixed" *ngIf="!peer.screenStreams.length && !peer.pScreen">
      <ion-fab-button (click)="peer.startScreenShare()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>

    </ion-fab>
    <ion-fab vertical="center" horizontal="end" slot="fixed" *ngIf="peer.screenStreams.length && peer.pScreen">
      <ion-fab-button (click)="peer.stopScreenShare()">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>
</ion-content>