<div class="container">
  <ion-grid *ngIf="peer.cameraStreams.length">
    <ion-row *ngFor="let row of peer.cameraStreams" class="ion-align-items-center">
      <ion-col [size]="stream.size" *ngFor="let stream of row">
        <app-videoplayer [stream]="stream" [toolbar]="true"></app-videoplayer>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="welcome" *ngIf="!peer.cameraStreams.length">
    <h1>
      {{i18n.lang.welcome}}！{{profile.me.displayName}}~
    </h1>
    <div *ngIf="profile.me.roler !== 1">
      <div>
        {{i18n.lang.welcomePrompt}}
      </div>
      <div>
        <ion-button (click)="setAsPrompt()">{{i18n.lang.setAsPresenter}}</ion-button>
      </div>
    </div>
  </div>
</div>