.signin-container {
    height: 100%;
    width: 100%;
}
  

.signin-content {
    padding: 70px 60px;
    border-left: 1px solid #d9ddf6;
    background: #f3fcff;
}

.display-block {
    display: block;
}
