<div class="signin-container" fxLayout="row" fxLayoutAlign="center center">
    <div class="signin-content mat-elevation-z12"  fxFlex.gt-xs="30%" cdkDrag>
        <mat-card-title>ClassVideo Admin {{i18n.lang.userLogin}}</mat-card-title>
      
        <form [formGroup]="userForm" (ngSubmit)="login()">
            <mat-form-field class="display-block">
              <input type="text" [placeholder]="i18n.lang.inputUsername" formControlName="user" required matInput>
            </mat-form-field>
      
            <mat-form-field class="display-block">
              <input type="password" [placeholder]="i18n.lang.inputPassword" formControlName="password" required matInput>
            </mat-form-field>
      
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <button fxFlex="40" mat-raised-button color="primary" type="submit"
                [disabled]="!userForm.valid"
                >{{i18n.lang.login}}</button>
              <div fxFlex="30"></div>
              <mat-select fxFlex="30" [(value)]="selectedLang"  (selectionChange)="langSelect()">
                <mat-option value="en">English</mat-option>
                <mat-option value="cn">中文</mat-option>
              </mat-select>
            </div>
        </form>
      </div>
</div>
      