.color_red {
    background: red;
    height: 10px;
    width: 100%;
}

.color_black {
    background: black;
    height: 10px;
    width: 100%;
}

.color_green {
    background:green;
    height: 10px;
    width: 100%;
}

.color_yellow {
    background:yellow;
    height: 10px;
    width: 100%;
}

.color_blue {
    background: blue;
    height: 10px;
    width: 100%;
}

.lineweight_1 {
    height: 1px;
    background:black;
    width: 100%;
}

.lineweight_5 {
    height: 5px;
    background:black;
    width: 100%;
}

.lineweight_10 {
    height: 10px;
    background:black;
    width: 100%;
}

.lineweight_20 {
    height: 20px;
    background:black;
    width: 100%;
}